@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.about {
    color: #fff;
    display: flex;
    flex-direction: column;
}
button {
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    background-color: #30d5c8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
}
.popup__content {
    display: flex;
    align-items: center;
}
.popup__content2 {
    padding: 20px;
    width: 600px;
    text-align: center;
}
.popup__button {
    padding: 15px 60px;
    border-radius: 5px;
    border: none;
    background-color: #30d5c8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}
#overlay.show {
    display: block;
}
input {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
label {
    color: gray;
    margin-left: 10px;
}